@import "tailwindcss";
@import "@heroui/styles";

:root {
  --font-heading: var(--font-syne);
  --font-body: var(--font-poppins);
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
@layer utilities {
  .clip-ribbon-tail {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 75%, 0% 100%);
  }
}
