@import "tailwindcss";
@import "@heroui/styles";

:root {
  --font-heading: var(--font-syne);
  --font-body: var(--font-poppins);
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
